#map {
    min-height: 480px;
    margin-left: 2%;
    margin-right: 2%;
}

.row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
}

/*----------------------------------------media query*/

@media(min-width:576px) {
    .form-inline .form-control {
        width: 50%; /*Overriding witdth: auto in original styling for larger screens*/
    }
}
