#map {
    min-height: 480px;
    margin-left: 2%;
    margin-right: 2%;
}

.row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
}

.info-img{
  float: left;
  padding: 5px;
}

.info-detail {
  float: right;
  width: 200px;
  padding: 5px;
}

.info-detail h3 {
  text-align: center;
}

/*----------------------------------------media query*/

@media(min-width:576px) {
    .form-inline .form-control {
        width: 50%; /*Overriding width: auto in original styling for larger screens*/
    }
}
