#map {
  min-height: 420px;
  margin-left: 2%;
  margin-right: 2%;
}

.jumbotron {
  padding-top: 20px;
}

.row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
}

.info-img {
  float: left;
  padding: 5px;
}

.info-detail {
  float: right;
  width: 200px;
  padding: 5px;
}

.info-detail h3 {
  text-align: center;
}

.slider-container {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#slider-header, #slider-info {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center;
}

#range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background-color: #99c0ff;
  opacity: 0.6;
  -webkit-transition: .3s;
  transition: .3s;
}

#range-slider:hover {
  opacity: 1;
}

#range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: #4caf50;
  cursor: pointer;
}

#range-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background-color: #4caf50;
  cursor: pointer;
}

ul li {
  padding-left: 10px;
  ;
}

ul .poi-option {
  text-decoration: none;
}

ul .poi-option:hover{
  background-color: rgba(138, 138, 138, 0.5);
}

/*----------------------------------------media query*/

@media(min-width:576px) {
  .form-inline .form-control {
    width: 50%;
    /*Overriding width: auto in original styling for larger screens*/
  }
}
